#switch {
  background-color: red;
  width:20px;
  height:600px;
}
.container {
  width: 50px;
  margin: auto;
  transition: all 500ms ease-in-out;
  z-index: 1;
  position: relative;
}
.container:hover{
  transform: translateY(100px);
}
.container:hover + #background {
  background-color: white;
}
#background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
