.directions {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 15px;
  color: white;
  padding-left: 70px;

}
body {
  background-color: black;
}
h1 {
  font-family: helvetica;
  font-weight: bold;
  font-style: oblique;
  font-size: 70px;
  color: yellow;
  padding-left: 70px;
  padding-top: 100px;
}
