
#grid {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-column-gap: 10px
}
h1 {
  font-family:helvetica;
  font-size: 30px;
  color:white;
}
body {
  background-color:#4da6ff;
}
p {
  font-family: Avenir;
  color: white;
}
#exercises {
  font-family: Avenir;
  color: white;
}
#projects {
  font-family: Avenir;
  color: white;
}
