
#grid {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-column-gap: 10px
}
h1 {
  font-family:helvetica;
  font-size: 30px;
}
body {
  background-color:blue;
}
p {
  font-family: Avenir;
}
#exercises {
  font-family: Avenir;
}
#projects {
  font-family: Avenir;
}
