
*{background: #5bc3ff;}

#responses {
  position:absolute;
  bottom: 100px;
  font-family: europa-regular,sans-serif;
  position: right;
  float:right;
  font-size: 20px;
  padding: 100px;
  color: white;
}
#botname {
  height: 70px;
  width: 100%;
  position: absolute;
  /* background: red; */
  font-family: courier,sans-serif;
  color: #aae0ff;
  padding-top: 50px;
  padding-left: 100px
}

#answerbox {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background:#5bc3ff;
  /* background: linear-gradient(#E1F4FF,#12B0FF); */
}

#michelleresponse {
  font-family: europa-regular,arial,sans-serif;
  font-size: 20px;
  text align: left;
  float: left;
  padding-left: 100px;
  position: absolute;
  bottom: 40%;
  color: white;
}

#click1 {
  font-family: europa-regular,arial,sans-serif;
  font-size: 30px;
  text align: left;
  float: left;
  padding-left: 100px;
  padding: 30px;
  color:white;
  background:blue;
  cursor: pointer;

}
#click2 {
  font-family: europa-regular,arial,sans-serif;
  font-size: 30px;
  text-align: right;
  float: right;
  padding-right: 100px;
  padding: 30px;
  color:white;
  background:blue;
  cursor: pointer;
}
